#root h1 {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root h2 {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root p {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root button {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#namelayover {
    background-color: aquamarine;
}

.wrapping {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
    -o-transform: scale(0.9, 0.9); /* Opera */
    -moz-transform: scale(0.9, 0.9); /* Firefox */
}

.title {
    padding-top: 50px;
    text-align: center;
}

.highlight {
    background-color: red !important;
}
.box {
    padding: 25px !important;
}

.box-color {
    padding: 25px !important;
}

.create-group-inputs {
    margin: 10px 10px !important;
}