.landing-page {
    background: url("https://st4.depositphotos.com/4413287/i/600/depositphotos_392078746-stock-photo-bright-abstract-watercolor-splash-background.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.wrapper {
    height: 100%;
}

#root h1 {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root h2 {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root p {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#root button {
    font-family: Abel, Arial, Helvetica, sans-serif;
}

#namelayover {
    background-color: aquamarine;
}

.wrapping {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
    -o-transform: scale(0.9, 0.9); /* Opera */
    -moz-transform: scale(0.9, 0.9); /* Firefox */
    position: relative;
}

.profile-wrapper {
    position: relative;
}
.watermark, .title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.signout {
    padding: 15px 0 0 0 !important;
}

.title {
    z-index: 10;
    text-align: center;
    top: 15px;
}

.low-avail {
    background-color: #C5E8B7!important;
}

.med-avail {
    background-color: #ABE098 !important;
}

.high-avail {
    background-color: #83D475 !important;
}

.superlarge_avail {
    background-color: #57C84D !important;
}

.box {
    padding: 25px !important;
}

.box-color {
    padding: 25px !important;
}

.create-group-inputs {
    margin: 10px 10px !important;
}

.join-modal {
    margin: 10px 10px !important;
}

.button-align {
    float: right !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.group-spacing {
    margin: 10px 0 !important;
}